@import "../basic/fonts";
body {
  background-color: black;
  color: white;
  @include medium;
}
section {
  padding-top: 70px;
  min-height: 90vh;
}
main {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
a {
  text-decoration: none;
  color: white;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

ul {
  margin: 0;
}
h2 {
  // margin-bottom: 15px;
  padding-top: 20px;
  font-size: 64px;
  margin-top: 0;
  @include extrabold;
}
body.active {
  overflow: hidden;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #f4da98;
}
.section-title::before,
.section-title::after {
  content: "";

  background-color: rgba($color: #f4da98, $alpha: 0.6);

  height: 2px;
  width: 20px;

  flex-grow: 1;
  flex-shrink: 0;
}
.section-title::before {
  margin-right: 50px;
}

.section-title::after {
  margin-left: 50px;
}

.section-subtitle {
  @include semibold;
  font-weight: 500;
  text-align: center;
  display: block;
  font-size: 24px;
  color: #be9f51;
}
// Выключение скроллбара
/* хром, сафари */
body::-webkit-scrollbar {
  width: 0;
}

/* ie 10+ */
body {
  -ms-overflow-style: none;
}

/* фф (свойство больше не работает, других способов тоже нет)*/
body {
  overflow: -moz-scrollbars-none;
}
