@media (max-width: 1117px) {
  .container {
    margin: 0 30px;
  }

  //footer

  .footer {
  }
  .container {
  }
  .footer-container {
    flex-wrap: wrap;
  }
  .footer-socials {
    order: 2;

    flex-grow: 1;
  }

  .footer-socials__item {
    flex-grow: 1;
    height: 100px;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  .coppyright {
    width: 100%;
    margin-bottom: 20px;
  }
}

/////

@media (max-width: 946px) {
  .header__nav {
    top: -1000px;
    position: fixed;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;

    right: 0px;
    background: rgb(0, 0, 0);
  }
  .header__container {
    flex-direction: row;
  }
  .header__nav.active {
    top: 84px;
  }
  .nav__link--gold {
    margin-left: 0;
  }

  .header__burger {
    display: block;
  }

  .header__logo {
    background: black;
    width: 100%;
    position: relative;
  }
  .nav__link {
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav__link:hover {
    background-color: black;
    color: white;
  }
  .nav__link:active {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  .header__burger.active::before {
    top: 45%;
    transform: rotate(45deg);
  }
  .header__burger.active::after {
    top: 45%;
    transform: rotate(-45deg);
  }

  .header__burger.active {
    span {
      display: none;
    }
  }
  .header__burger.burger-center::before,
  .header__burger.burger-center::after {
    top: 45%;
  }

  .header__burger-wrapper {
    margin-left: auto;
    margin-right: 35px;
    display: block;
    position: relative;
    width: 36px;
    height: 23px;
  }
  .header__burger {
    span {
      position: absolute;
      top: 45%;
      width: 100%;
      height: 3px;
      background-color: white;
    }
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    transition: all 0.3s;
    position: absolute;

    width: 100%;
    height: 3px;
    background-color: white;
  }
  .header__burger::after {
    top: 0;
  }
  .header__burger::before {
    bottom: 0;
  }
  .section-title {
    font-size: 50px;
  }
}

@media (max-width: 724px) {
  section {
    padding-bottom: 60px;
  }
}

@media (max-width: 470px) {
  .container {
    margin: 0 5px;
  }

  .header__logo img {
    width: 200px;
  }
  .section-title::before,
  .section-title::after {
    display: none;
  }
}
