/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Medium";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-500.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-500.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-500.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Semibold";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-600.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat") format("svg"); /* Legacy iOS */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Bold";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../fonts/montserrat-v15-latin_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/montserrat-v15-latin_cyrillic-800.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-800.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/montserrat-v15-latin_cyrillic-800.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat") format("svg"); /* Legacy iOS */
}

@mixin medium {
  font-family: Montserral Medium, Arial, Helvetica, sans-serif;
}

@mixin semibold {
  font-family: Montserrat Semibold, Arial, Helvetica, sans-serif;
}

@mixin extrabold {
  font-family: Montserrat Bold, Arial Black, Gadget, sans-serif;
}
