.header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: 1);
  overflow: hidden;

  @include semibold;
  font-weight: 600;
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;

    color: white;
    font-size: 24px;
    height: 84px;
  }

  &__nav {
    display: flex;
    align-items: center;
    transition: 0.3s;
  }
}
.fade2 {
  animation: fade2 1.5s;
}

@keyframes fade2 {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
.nav {
  &__link {
    transition: 0.6s;
    padding: 28px 24px 28px 24px;
    font-size: 27px;
  }
  &__link:hover {
    background-color: #fff;
    color: black;
  }
  &__link--gold {
    margin-left: 40px;
    color: #f4da98;
  }
  &__link--gold:hover {
    color: black;
  }
}
.header__title {
  display: none;
}
.header__burger {
  display: none;
}
