.modal {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal-dialog {
  position: relative;
  width: 460px;
  height: 468px;

  margin: 120px auto;

  background: url("../img/footer-bg.png");
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px 7px rgba($color: #e7e7e7, $alpha: 0.2);

  transition: top 0.5s linear;

  &__close {
    position: absolute;
    top: 23px;
    right: 30px;

    width: 22px;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  &__close::before,
  &__close::after {
    content: "";
    position: absolute;

    width: 26px;
    height: 4px;

    background-color: rgb(255, 255, 255);
  }

  &__close::before {
    top: 0;
    transform: rotate(45deg);
  }
  &__close::after {
    top: 0;
    transform: rotate(-45deg);
  }

  &__wrapper {
    margin: 0px 30px 0px 30px;
    height: 100%;
  }
  &__wrapper span {
    opacity: 0.2;
    text-align: center;
    display: block;
    font-size: 13px;
  }

  &__title {
    font-size: 30px;
    line-height: 40px;
    padding: 35px 0px 25px 0px;
    text-align: center;
    @include extrabold;
  }

  .modal-dialog__input {
    color: white;

    margin-bottom: 6px;
    padding: 8px 18px 10px;
    max-width: 90%;
    width: 100%;

    line-height: 30px;

    border: 1px solid #e5ddd5;
    transition: border-color 0.3s;

    outline: none;
    border-radius: 2px;
    background: rgb(24, 24, 24);
  }
  .modal-dialog__input:focus {
    border: 1px solid #f4da98;
  }
  .modal-dialog__input::placeholder {
    color: white;
    @include semibold;
    text-align: center;
  }
  &__form {
    text-align: center;
  }

  &__input-question {
    height: 100%;

    resize: none;
    height: 80px;
  }

  &__input-name {
  }

  &__input-mail:invalid {
  }
  &__send-btn {
    @include extrabold;
    border: 1px solid rgba($color: #000000, $alpha: 0.2);
    font-size: 18px;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: white;
    font-weight: 700;
    transition: background 0.3s, color 0.3s, border-color 0.3s;

    margin-bottom: 5px;
    padding: 13px 10px;
    width: 100%;
  }
  &__send-btn:hover {
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
}

.modal-dialog--code {
  width: 600px;
  height: 520px;
}
.modal-dialog__code-textarea {
  color: white;
  background: rgb(24, 24, 24);
  width: 100%;
  height: 70%;
  resize: none;
}

.showModal {
  display: block;
}

.hideModal {
  display: none;
}
// Кнопки вызова модальных окон
.modal__buttons-wrapper {
  max-width: 400px;
  height: 52px;

  margin: 30px auto;
  padding: 0;

  display: flex;
  justify-content: space-between;
}
.modal__buttons {
  cursor: pointer;
  list-style-type: none;
  background-color: rgb(255, 255, 255);
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px 20px 30px 20px;
  transition: 0.2s;
}
.modal__buttons a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  @include extrabold;
  font-weight: 700;
}
.modal__buttons:hover {
  padding: 30px 25px;
}

.modal__buttons--inactive:hover {
  opacity: 1;
}

.modal__buttons--active {
  box-shadow: 0 0 30px 2px rgb(211, 211, 211);
}
.modal__buttons--active a {
}
.modal__buttons--inactive {
  opacity: 0.2;
}

//
.success-modal {
  top: 20px;
}

.success-dialog {
  height: 200px;
}
