@media (max-width: 946px) {
  /// tabs

  .tabs__button {
    font-size: 23px;
    padding: 18px;
  }

  .tabs-wrapper {
    padding-left: 3%;
  }
}

@media (max-width: 800px) {
  //timer

  .timer__elem {
    justify-content: center;
    width: 80%;
    margin-right: 1%;
    span {
      font-size: 45px;
      margin-bottom: 15px;
    }
    p {
      margin: 0;
    }
  }
  .timer__title {
    font-size: 33px;
  }
}

@media (max-width: 724px) {
  .tabs-container {
    flex-direction: column;
  }
  .tabs__link {
    margin-bottom: 9px;
  }
  .tabs-wrapper {
    padding-left: 0;
  }

  //modal
  .modal__buttons-wrapper {
    flex-direction: column;
  }
  .modal__buttons {
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    width: auto;
  }
  .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 82px auto;
  }
  .modal-dialog__input {
  }
  .tabs__items-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(32, 32, 32, 0.3);
  }
  .tabs-wrapper {
  }
  .tabs__item {
    width: 360px;
    height: 300px;
  }
  .tabs__item img {
    border: 0;
    width: 100%;
    height: 100%;
  }
  .tabs__buttons-wrapper {
    justify-content: space-around;
    max-width: 100%;
  }

  //timer
  .timer-container {
    height: 560px;
  }
  .timer-blocks {
    flex-wrap: wrap;
  }
  .timer__elem {
    width: 100%;
    height: 44%;
    margin-bottom: 10px;
    span {
      font-size: 35px;
      margin-bottom: 2px;
    }
    p {
      font-size: 15px;
    }
  }
}

@media (max-width: 470px) {
  .tabs {
    min-height: 130vh;
  }
  .tabs__item {
    width: 90%;
    height: 90%;
  }

  .tabs-container {
    margin-top: 50px;
  }

  // Timer
  .timer {
    padding-top: 50px;
  }
  .timer__title {
    font-size: 28px;
  }
  .timer__subtitle {
  }
  .timer__elem {
    height: 40%;
  }
  .timer__elem span {
  }
  .timer-container {
  }

  //contacts
  .contacts__title {
    // font-size: 25px;
  }
  //modal
  .modal__buttons {
    padding: 25px 25px;
  }
  .modal__buttons:hover {
    padding: 25px 25px;
  }
}
